<div class="container-md">

<h1>Stupid Coach</h1>
    <div class="mb-3">
  <form action="/answer" data-turbo="false">
  <h2 class="form-label">ask your coach anything</h2>
  <input class="form-control" type="text" name="question" placeholder="ask your question here">
  <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
</div>
